obj
bin
.vs

**/AssemblyInfo.cs
**/*.suo
**/*.DotSettings.user
**/*.csproj.user

**/launchSettings.json
.sonarlint/

BenchmarkDotNet.Artifacts/
docs/api
docs/_site

src/SqlConnectionPlus/RentADeveloper.SqlConnectionPlus.xml
